/********** Template CSS **********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
    --primary: #1e3667;
    --secondary: #244ea1;
    --light: #F6F7FC;
    --dark: #15233C;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover,
.btn.btn-secondary,
.btn.btn-outline-secondary:hover {
    color: #FFFFFF;
}

.btn.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
.btn-cnt{
    border: 1px solid #1e3667;
    border-radius: 20px;
}
.btn-cnt:hover{
    border: 1px solid #1e3667;
    border-radius: 20px;
    background-color: #1e3667;
    color: #FFFFFF;
}
/* Common */



.section-header{

}
.section-header_line{
    
}
.section-header_line::after{
    width: 100px;
    height: 5px;
    background-color: aqua;
}
/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand img {
    max-height: 60px;
}

.navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 10px 0;
    color: #1e3667;
    font-weight: 400;
    outline: none;

}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--secondary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand img {
        max-height: 45px;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .navbar .nav-item .dropdown-menu {
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: justify;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 15px solid var(--primary);
    border-radius: 50px;
}
#header-carousel .carousel-item {
    position: relative;
    min-height: 650px;
}

#header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-caption{
    z-index: 300;
    color: var(--primary);
}
.header-caption span{
    font-size: 78px;
    font-weight: 900;
    margin: auto 50%;
}
@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item a,
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #696E77;
}

.page-header .breadcrumb-item a:hover,
.page-header .breadcrumb-item.active {
    color: var(--primary);
}

/* Text head */


.text-head{
    color: rgba(30, 54, 103, 1);
    height: auto;
    font-size: 36px;
    font-style: Bold;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
}


.fp-box {
    background: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fpbox-index {
    font-size: 4rem;
    color: #333;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}
.fpbox-button{
    background-color: var(--primary);

    color: #FFFFFF;
}




/*** Facts ***/
@media (min-width: 992px) {
    .container.facts {
        /* max-width: 100% !important; */
    }

    .container.facts .facts-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }

    .container.facts .facts-counter {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .container.facts .facts-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }

    .container.facts .facts-counter  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .container.facts .facts-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }

    .container.facts .facts-counter  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.container.facts .facts-text {
    background: linear-gradient(rgba(1, 95, 201, .9), rgba(1, 95, 201, .9)), url(../img/carousel-1.jpg) center right no-repeat;
    background-size: cover;
}

.container.facts .facts-counter {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../img/carousel-2.jpg) center right no-repeat;
    background-size: cover;
}

.container.facts .facts-text .h-100,
.container.facts .facts-counter .h-100 {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* FinService */
.finservice-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    background-color: #f4fafd;
}

.finservice-item .finservice-icon {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finservice-item .finservice-icon img {
    max-width: 60px;
    max-height: 60px;
}

.finservice-item a.btn {
    color: var(--primary);
}

.finservice-item a.btn:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}

/* fintech platforms */





.finplatform{
    box-sizing: border-box;
    overflow: hidden;
}


.finplatform-cards {
    margin: 0 -4px -4px 0;
    padding: 0;
  }
  
  .finplatform-card {
    height: auto;
    border-right: 2px solid rgb(196, 196, 196);
    border-bottom: 2px solid rgb(184, 184, 184);

  }
  
  .finplat-service-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0);
}

.finplat-service-item .finplat-service-icon {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finplat-service-item .finplat-service-icon img {
    max-width: 60px;
    max-height: 60px;
}

.finplat-service-item a.btn {
    color: var(--primary);
}

.finplat-service-item a.btn:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}




/* Campus wallet */

.campus-wallet_card{

    position: relative;
    display:flex;
    flex-direction: column;
    text-align: justify;
    max-width: 200px;
    background-color: #cecece00;
    padding: 20px;   
    padding-right: 0px;
    -webkit-box-shadow: 22px 3px 6px -22px rgba(150,150,150,1);
    -moz-box-shadow: 22px 3px 6px -22px rgba(150,150,150,1);
    box-shadow: 22px 3px 6px -22px rgba(150,150,150,1);
}
.campus-wallet_card::before{
    content: "";
    border:15px solid #15233C;
    top:30%;
    right:-10%;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}
.campus-wallet_card .card-content{
    text-align: left;
    color: #1e3667;

}

.campus-wallet_card .card-body{
    z-index: 200;
    background-color: #ffffff;
    padding-top: 80px;
}
.campus-wallet-cards{
    overflow-x: clip;
}

.campus-row{
    margin-right: -30px !important;
}




/* Few clients */


.clients{
}
.clients-list{
    overflow: auto;
    white-space: nowrap;
    display: block;
    flex-wrap: nowrap;
}
.clients-head h2{
 color: #FFFFFF;
}
.clients-list_box{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:45px;
    width:100%;
    height:100%;
    border-radius: 0px;
    background: #ffffff;
    margin: 10px;;
   

}
.clients-list .clients-list_box .logo{
    width:100%;
    position: relative;
 
   
}
 .clients-list_box p{
    width:100%;
    position: relative;
    color: #1e3667;
    font-size: 14px;

}


.swiper {
    width: 100%;
    height: 200px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width:200px;
    margin-right:12px !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
 
  }


  .testimonial-item{
      background-color: #EEF6F8;
      margin-right: 20px;
      margin-left: 20px;
      position: relative;
      border-radius:40px !important; 
  }
  .testimonial-item::after{
    content: '';
    background-color: #EEF6F8;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    top: -17%;
    z-index: 400;
    left: 54%;
    position: absolute;
    border-radius: 50%;
}
  .testimonial-item img{
    background-color: #EEF6F8;
    position: relative;
    top:-40px;
    z-index: 300;
    border: 10px solid #1e3667;
    width:130px !important;
    height:130px !important;
}


.testimonial-carousel .owl-stage-outer {
    padding-top:60px;
    margin-bottom: 40px;

}


.testimonial-carousel .owl-stage-outer .owl-stage .owl-item{
  
}
.testimonial-carousel .owl-dots{
    position: absolute;
    bottom: -30px;
    justify-content: center;
    width: 100%;
    display: flex;
    height: auto;
    z-index: 400;
    margin-left: -10px;;

}
.testimonial-carousel .owl-dots .owl-dot{
  width:10px;
  height:10px;
  background-color: #f4fafd;
  margin: 10px;
  border-radius: 50%;
}
.testimonial-carousel .owl-dots .active{
    width:10px;
    height:10px;
    background-color: #00fff2;
    margin: 10px;
    border-radius: 50%;
  }
  
  .testimonial-carousel .owl-nav{
    display: flex;
    z-index: 450;
    position: absolute;
    top: 55%;
    left: -50%; 
    width:200%;
    justify-content: space-between;
  }


  .testimonial-carousel .owl-nav .owl-prev, .testimonial-carousel .owl-nav .owl-next{
     
      background-color: #ffffff;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding:auto !important;
      
    
  }

.testimonial-content::before{
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    background: url(../img/q1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -10px !important;
    width: 30px;
    height:30px;
  
}
  .testimonial-content::after{
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    background: url(../img/q1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    position: absolute;
    bottom: 0px !important;
    background-position: center;
    width:26px;
    margin-left: 10px;;
    height:30px;
}

 
.testimonial-star i{
    width: 200px;
    content: '';
    font-weight: 900;
    color: #FFD600;
}
.testimonial-star i::after{
  content: "\f005 \00a0\00a0 \f005 \00a0\00a0 \f005  \00a0\00a0 \f005 \00a0\00a0 \f005";
}





/*** Footer ***/
.footer {
    color: #A7A8B4;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #A7A8B4;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #A7A8B4;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer-header{

    color: #1e3667 !important;
}
.footer-link{


    text-decoration: none;
    color: #1e3667 !important;
}
.footer .btn.btn-square {
    color: #A7A8B4;
    border: 1px solid#A7A8B4;
}

.footer .btn.btn-square:hover {
    color: var(--secondary);
    border-color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}